<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}][${thread}][${node}/${function}:${line}]: ${message}"/>

  <arg name="origin" default="webots"/>
  <node pkg="swri_transform_util" type="initialize_origin.py" name="initialize_origin" output="screen">
    <param name="local_xy_frame" value="/odom_filtered"/>
    <param name="local_xy_origin" value="$(arg origin)"/> <!-- setting "auto" here will set the origin to the first GPS fix that it recieves -->
    <remap from="gps" to="gps"/>
    <rosparam param="local_xy_origins">
      [{ name: webots,
         latitude: 46.795955657958984,
         longitude: 7.1484456062316895,
         altitude: 0.0,
         heading: 0.0}]
    </rosparam>
  </node>
</launch>


<!-- GOAL
latitude: 46.79597104647869
longitude: 7.148155571149095
-->